<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<div class="carousel-cell">
        <div class="card  bg-light mb-3" style="width: 18rem;">
          <div class="card-header">Day 1</div>
          <div class="card-body">
            <h5 class="card-title">Workout of the Day</h5>
            <p class="card-text">{{plan_name}}</p>
            <ol>
              <li>Exercises Routine ~ Monday</li>
              </br>
                
                <li>Exercise: Barbell Squats</li>
                  Amount of sets: 4</br>
                  Amount of reps: 8</br>
                </br>

              <li>Exercise: Leg Extensions</li>
                  Amount of sets: 4</br>
                  Amount of reps: 15</br>
                </br>
              
              <li>Exercise: Stiffed leg deadlifts</li>
                  Amount of sets: 4</br>
                  Amount of reps: 15</br>
              
              </br>
              <li>Exercise: Leg Press</li>
                  Amount of sets: 5</br>
                  Amount of reps: 12</br>
            </ol>
            <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
          </div>
        </div>
        </div>