 <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

 <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="card-header">Day 2</div>
            <div class="card-body">
              <h5 class="card-title">Workout of the Day</h5>
              <p class="card-text">{{plan_name}}</p>
               <ol>
              <li>Exercises Routine ~ Tuesday</li>
              </br>
                
                <li>Exercise: Bench Press</li>
                  <li>Amount of sets: 4</li>
                  Amount of reps: 8</li>
                

              <li>Exercise: Incline dumbell Flys</li>
                  <li>Amount of sets: 4</li>
                  <li>Amount of reps: 15</li>
              
              <li>Exercise: Machine Chest Press</li>
                  <li>Amount of sets: 4</li>
                  <li>Amount of reps: 12</li>
              
              <li>Exercise: Neutral Cable Flies</li>
                  <li>Amount of sets: 5</li>
                  <li>Amount of reps: 15</li>
            </ol>
              <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
            </div>
          </div>
  </div>
