 <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="card-header">Day 3</div>
            <div class="card-body">
              <h5 class="card-title">Workout of the Day</h5>
              <p class="card-text">Everybody wants to be a bodybuilder, but don't nobody want to lift no heavy ass weights</p>
              <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
            </div>
          </div>
        </div>
