<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  
      <div class="carousel-cell">
        <div class="card  bg-light mb-3" style="width: 18rem;">
          <div class="card-header">Day 3</div>
          <div class="card-body">
            <h5 class="card-title">Workout of the Day</h5>
            <p class="card-text">{{plan_name}}</p>
            <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
             <ol>
              <li>Exercises Routine ~ Wednesday</li>
              </br>
                
                <li>Exercise: Deadlifts</li>
                  Amount of sets: 3</br>
                  Amount of reps: 8</br>
                
</br>
              <li>Exercise: Close-grip cable rows</li>
                  Amount of sets: 5</br>
                  Amount of reps: 15</br>
 </br>             
              <li>Exercise: Lat Pulldowns</li>
                 Amount of sets: 4</br>
                Amount of reps: 10</br>
</br>              
              <li>Exercise: Bend-Over Barbell Rows</li>
                  Amount of sets: 4 </br>
                  Amount of reps: 8</br>
            </ol>
          </div>
        </div>
      </div>