<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  
        <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="card-header">Day 4</div>
            <div class="card-body">
              <h5 class="card-title">Workout of the Day</h5>
              <p class="card-text">{{plan_name}}</p>
              <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
               <ol>
              <li>Exercises Routine ~ Monday</li>
              </br>
                
                <li>Exercise: Overhead Military Press</li>
                 <li> Amount of sets: 4</li>
                 <li> Amount of reps: 8
                </li>
</br>
              <li>Exercise: Lateral Flys</li>
                 <li> Amount of sets: 4</li>
                  <li>Amount of reps: 15</li>
     </br>         
              <li>Exercise: Front Dumbell Raises</li>
                  <li>Amount of sets: 4</li>
                  <li>Amount of reps: 15</li>
 </br>             
              <li>Exercise: Rear-delt Dumbell Flys</li>
                  <li>Amount of sets: 5</li>
                  <li>Amount of reps: 12</li>
            </ol>
            </div>
          </div>
          </div>