<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  
        <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="text-center card-header" id="five">Friday</div>
            <div class="card-body">
              <h5 class="text-center card-title">Workout of the Day</h5>
              <p class="text-center card-text">{{plan_name}}</p>
              
               <ol>
              {{#each dayFive}}
                <li> {{exercise_name}}</li>
              {{/each}}              
            </ol>
            </div>
          </div>
          </div>