<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  
        <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="card-header">Day 5</div>
            <div class="card-body">
              <h5 class="card-title">Workout of the Day</h5>
              <p class="card-text">{{plan_name}}</p>
              <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
            </div>
          </div>
          </div>