<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Buddy</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

</head>

<body>
  <div class="wrapper">
  <header>
        <header class="jumbotron bg-dark text-white bg-gradient">
      <h1 class="display-3">Fitness Buddy</h1>
      <p class="lead">Swole is the goal, size is the prize!</p>
      <nav>
    <span id="homepage-btn"><i class="fa fa-home"></i><a href="/"> Homepage</a></span>
  
    {{#if loggedIn}}
    <a id="dashboard" href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    </br>
    </br>
    <p id="login-btn">
    <a href="/login">Login</a>
    </p>
    {{/if}}
  </nav>
  {{!-- <h1 class="text-right" id="title">
    <a href="/">Fitness Buddy</a>
  </h1> --}}
  </br>
  

  </header>
  <main>
    {{{ body }}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </main>

  {{#if loggedIn}}
  <script src="javascript\logout.js"></script>
  {{/if}}

</body>


<footer>
  <h4 class="text-center">Thank you for using the fitness buddy app!</h4>
</footer>

</div>

</html>