<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<section class = "row">
    <div class = "column">

<h1 id="ex-title" class="w3-center">Check out your workout plan below!</h1>

    

</section>

<div class="main-carousel" data-flickity='{ "freeScroll": true, "freeScrollFriction": 0.03}'>
     <div>
        <ul>
        {{> day1 }}
        </ul>
     </div>
     <div>
        <ul>
        {{> day2 }}
        </ul>
     </div>
     <div>
        <ul>
        {{> day3 }}
        </ul>
     </div>
     <div>
        <ul>
        {{> day4 }}
        </ul>
     </div>
     <div>
        <ul>
        {{> day5 }}
        </ul>
     </div>
</div>
<!--ADD SCRIPT HERE
<script src="/javascript/add-post.js"></script>
-->