
<section class = "row">
    <div class = "column">

<h1 class="w3-center">Stan this Workout Plan</h1>

    <div class="carousel" data-flickity='{ "freeScroll": true, "freeScrollFriction": 0.03, "groupCells": true  }'>
      {{#if workout_plan_id.1 }}
        {{> day1 post}}
      {{else if workout_plan_id.2 }}
        {{> day2 post}}

    

  </div>

</section>


<!--ADD SCRIPT HERE
<script src="/javascript/add-post.js"></script>
-->