
<section class = "row">
    <div class = "column">

<h1 class="w3-center">Stan this Workout Plan</h1>

    

</section>

<div class="main-carousel" data-flickity='{ "freeScroll": true, "freeScrollFriction": 0.03}'>
     <div>
          {{> day1}}
     </div>
     <div>
           {{> day2}}
     </div>
    <div>
          {{> day3}}
     </div>
     <div>
         {{> day4}}
     </div>
     <div>
         {{> day5}}
     </div>


<!--ADD SCRIPT HERE
<script src="/javascript/add-post.js"></script>
-->