<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<section class = "row">
    <div class = "column">

<h1 class="w3-center">Stan this Workout Plan</h1>

    

</section>

<div class="main-carousel" data-flickity='{ "freeScroll": true, "freeScrollFriction": 0.03}'>
     <ul>
{{#each dayOne}}
<li> {{exercise_name}}</li>
{{/each}}
</ul>
</div>
<!--ADD SCRIPT HERE
<script src="/javascript/add-post.js"></script>
-->