
<div> 
    <h1 class="text-center font-weight-bold">Welcome to Fitness Buddy</h1>
    </br>
    </br>
    </br>
    <p class="text-center">You are at the fitness buddy homepage! </p>
</div>

<!--
    "mvc: must have views set up with main.handlebars in views/layouts/main.handlebars for handlebars to work properly"
https://courses.bootcampspot.com/courses/629/pages/14-dot-1-4-set-up-the-template-engine?module_item_id=226132