 <link rel="stylesheet" href="/stylesheets/style.css">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>


<div class="home"> 
    <h1 class="text-center font-weight-bold">Welcome to Fitness Buddy</h1>
    </br>
    </br>
    </br>
    <p class="text-light">Fitness Buddy app allows you to start changing your life for the better! Here you can start by choosing a workout plan in order to improve your health and get fit! Once you select a plan it will provide a routine workout for five days of the week! Enjoy! </p>
    </br>
    </br>
    <p class="text-center text-light bg-dark">You are at the fitness buddy homepage! </p>
</div>

<!--
    "mvc: must have views set up with main.handlebars in views/layouts/main.handlebars for handlebars to work properly"
https://courses.bootcampspot.com/courses/629/pages/14-dot-1-4-set-up-the-template-engine?module_item_id=226132