 <div class="card">
      <h3 class="card-header">Pick Your Plan</h3>
    <form id="plan-pick-form" class="card-body"> 
      <button type="submit" id="pick-bulk" class="btn"> Bulk Workout </button>
      <button type="submit" id="pick-cut" class="btn"> Cut Workout </button>
      <button type="submit" id="pick-tone" class="btn"> Tone Workout </button>
        
        <a class="dashboard" href="/">Would you like to return to the dashboard?</a>
      </form>
    </div>

<script src="/javascript/choose-plan.js"></script>