    <!--adding modal-->
        <div style="d-none"class="label alert" id="newAcctModal" >
        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >Account created! </h1>
        <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="lead">Logging you in ... </p>
      </div>
    
    
    <div class="card">
      <h3 id="signup-title" class="text-center card-header">Sign Up</h3>
      <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label">Username:</label>
        <input id="username-signup" type="text" class="form-input" />


        <label class="form-label" for="password-signup">Password:</label>
        <input  id="password-signup" type="password" class="form-input" />
  
      
        </br>
        <a class="login-link" href="/login">Already have an account, login instead!</a>
        </form>
    </div>

         
         
         <div class="card"></div>
      <h3 id="pick-plan-id" class="text-center card-header">Pick Your Plan</h3>
    <form id="plan-pick-form" class="card-body text-center"> 
      <p>Please choose one of the workout plan's below in order to get started with Fitness Buddy!</p>
      <!--caroline's edit: changes id from "pick-bulk" to "bulk" etc-->
      <button type="submit" id="bulk-1" class="btn"> Bulk Workout </button>
      <button type="submit" id="cut-2" class="btn"> Cut Workout </button>
      <button type="submit" id="tone-3" class="btn"> Tone Workout </button>
        
        <a class="dashboard" href="/">Would you like to return back to the homepage?</a>
      </form>
    </div>
    


      
<!--
  i think this script is trash now but commenting it out jic
<script src="/javascript/choose-plan.js"></script>
-->
<script src="/javascript/signup.js"></script>
