<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <title>Fitness Friends</title>
  </head>
  <style media="screen">
  .carousel-cell {
    width: 35%;
    }

    /* cell number */
    .carousel-cell:before {
      display: block;
    }
  </style>
  <body>

    <header class="jumbotron bg-dark text-white bg-gradient">
      <h1 class="display-3">Fitness Buddy</h1>
      <p class="lead">Swole is the goal, size is the prize!</p>
    </header>


    <h1 class="w3-center">Stan this Workout Plan</h1>
    <div class="carousel" data-flickity='{ "freeScroll": true, "freeScrollFriction": 0.03, "groupCells": true  }'>
      <div class="carousel-cell">
        <div class="card  bg-light mb-3" style="width: 18rem;">
          <div class="card-header">Day 1</div>
          <div class="card-body">
            <h5 class="card-title">Workout of the Day</h5>
            <p class="card-text">Lift all the weights in the gym</p>
            <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
          </div>
        </div>
      </div>

      <div class="carousel-cell">
        <div class="card  bg-light mb-3" style="width: 18rem;">
          <div class="card-header">Day 2</div>
          <div class="card-body">
            <h5 class="card-title">Active Rest Day</h5>
            <p class="card-text">Take this time to recover</p>
            <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
          </div>
        </div>
      </div>

      
        <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="card-header">Day 3</div>
            <div class="card-body">
              <h5 class="card-title">Workout of the Day</h5>
              <p class="card-text">Everybody wants to be a bodybuilder, but don't nobody want to lift no heavy ass weights</p>
              <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
            </div>
          </div>
        </div>

      <div class="carousel-cell">
        <div class="card  bg-light mb-3" style="width: 18rem;">
          <div class="card-header">Day 4</div>
          <div class="card-body">
            <h5 class="card-title">Workout of the Day</h5>
            <p class="card-text">Tren hard</p>
            <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
          </div>
        </div>
      </div>

        <div class="carousel-cell">
          <div class="card  bg-light mb-3" style="width: 18rem;">
            <div class="card-header">Day 5</div>
            <div class="card-body">
              <h5 class="card-title">Workout of the Day</h5>
              <p class="card-text">Lift all the weights in the gym</p>
              <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
            </div>
          </div>
          </div>

          <div class="carousel-cell">
            <div class="card  bg-light mb-3" style="width: 18rem;">
              <div class="card-header">Day 2</div>
              <div class="card-body">
                <h5 class="card-title">Active Rest Day</h5>
                <p class="card-text">Take this time to recover</p>
                <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
              </div>
            </div>
          </div>

          <div class="carousel-cell">
            <div class="card  bg-light mb-3" style="width: 18rem;">
              <div class="card-header">Day 7</div>
          <div class="card-body">
            <h5 class="card-title">Workout of the Day</h5>
                <p class="card-text">Lift all the weights in the gym</p>
                <a href="#" class="card-link">Click this link to eat soap instead of lifting</a>
              </div>
            </div>
            </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>